<h1 style="margin-bottom:30px">Blog posts</h1>
<% if @posts.length < 1 %>
    <hr style="border-color:black">
    <div style="text-align:center">
        <%= link_to "Create Post" , new_post_path, :class => "btn btn-lg btn-primary" %>
    </div>
    <hr style="border-color:black;margin-bottom:5px;">
    <div style="text-align:center">There is no post available</div>
<% end %>
<% @posts.each do |post| %>
    <div class="well">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
        <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
    </div>
<% end %>
