<div align="center">
    <%= will_paginate @articles, 
        :previous_label => '<i class="fa fa-arrow-left" aria-hidden="true"></i>', 
        :next_label => '<i class="fa fa-arrow-right" aria-hidden="true"></i>'  
    %>
</div>
