<div style="font-size:28px">
    <a href='https://www.linkedin.com/in/x65han/' target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <span style="text-decoration:none !important;color:black !important;">Linkedin</span>
    </a>
</div>

<div style="font-size:28px;color:black !important">
    <a href='https://www.github.com/x65han/' target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
        <span style="text-decoration:none !important;color:black !important;">Github</span>
    </a>
</div>
<hr>
Made by Johnson Han with
<i class="fa fa-heart" style="color:red" aria-hidden="true"></i>
