<div class="jumbotron shadow center">
    <h1>ALPHA BLOG</h1>
    <%=link_to "Sign up now", signup_path, class: "btn btn-dark bubble attention btn-xlarge" %>
    &emsp;
    <%=link_to "View Articles", articles_path, class: "btn btn-primary-outline attention bubble btn-xlarge" %>
</div>