
// buttons
.btn {
    font-weight: bold;
}

.bubble {
    border-radius: 999px !important;
    padding: 5px 20px;
}

.bubble-success {
    color: white;
    $theme: #5cb85c;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
}

.bubble-primary {
    color: white;
    $theme: #337ab7;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
}

.bubble-danger {
    color: white;
    $theme: #d9534f;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
}

.bubble-dark {
    color: white;
    $theme: black;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-primary-outline {
    $theme: #337ab7;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-primary-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-success-outline {
    $theme: #5cb85c;
    border: 2px solid $theme !important;
    color: $theme;
    background-color: white;
    &.btn-success-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-danger-outline {
    $theme: #d9534f;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-danger-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-dark-outline {
    $theme: black;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-dark-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-success {
    $theme: #5cb85c;
    color: white;
    border: 2px solid $theme !important;
    background-color: $theme !important;
    &.btn-success:hover {
        color: $theme;
        background-color: transparent !important;
    }
}

.btn-dark {
    $theme: black;
    color: white;
    background-color: $theme !important;
    border: 2px solid $theme !important;
    &.btn-dark:hover {
        color: $theme;
        background-color: transparent !important;
    }
}
