
// buttons
.btn {
    font-weight: bold;
}

.attention {
    &.attention:hover {
        transform: scale(1.2);
    }
}

.bubble-wide {
    padding: 0px 5px !important;
}

.bubble {
    text-decoration: none !important;
    border-radius: 999px !important;
}

.bubble-big {
    padding: 5px 20px;
}

.bubble-success {
    color: white;
    $theme: #5cb85c;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
    &.interactive:hover {
        color: $theme;
        background-color: transparent;
    }
}

.bubble-primary {
    color: white;
    $theme: #337ab7;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
    &.interactive:hover {
        color: $theme;
        background-color: transparent;
    }
}

.bubble-danger {
    color: white;
    $theme: #d9534f;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
    &.interactive:hover {
        color: $theme;
        background-color: transparent;
    }
}

.bubble-danger {
    color: white;
    $theme: #eea236;
    border-radius: 900px;
    background-color: $theme;
    padding-left: 5px;
    padding-right: 5px;
    &.interactive:hover {
        color: $theme;
        background-color: transparent;
    }
}

.bubble-dark {
    color: white;
    $theme: black;
    border-radius: 900px;
    background-color: $theme;
    border: 2px solid $theme;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
    &.interactive:hover {
        color: $theme;
        background-color: transparent;
    }
}

.btn-primary-outline {
    $theme: #337ab7;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-primary-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-success-outline {
    $theme: #5cb85c;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-success-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-danger-outline {
    $theme: #d9534f;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-danger-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-warning-outline {
    $theme: #eea236;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-warning-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-dark-outline {
    $theme: black;
    border: 2px solid $theme !important;
    color: $theme;
    &.btn-dark-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-success {
    $theme: #5cb85c;
    color: white;
    border: 2px solid $theme !important;
    background-color: $theme !important;
    &.btn-success:hover {
        color: $theme;
        background-color: transparent !important;
    }
}

.btn-dark {
    $theme: black;
    color: white;
    background-color: $theme !important;
    border: 2px solid $theme !important;
    &.btn-dark:hover {
        color: $theme;
        background-color: transparent !important;
    }
}

.btn-danger {
    $theme: #d9534f;
    color: white;
    background-color: $theme !important;
    border: 2px solid $theme !important;
    &.btn-dark:hover {
        color: $theme;
        background-color: transparent !important;
    }
}
