@import "bootstrap-sprockets";
@import "bootstrap";

* {
    transition: all 200ms ease-out;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('cover-page.png');
    background-size: cover;
    margin-top: 30px;
    h1 {
        color: black;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: -1px;
        user-select: none;
        font-weight: bold;
    }
}

.shadow {
    position: relative;

    &.shadow:before, &.shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    }
    &.shadow:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
    }
}

.shadow-bottom {
    box-shadow: 0px 0px 8px 2px #000000;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid black;
    color: black;
    text-align: center;
}

// buttons
.btn {
    font-weight: bold;
}

.bubble {
    border-radius: 50px;
    padding: 5px 20px;
}

.btn-primary-outline {
    $theme: #337ab7;
    border: 2px solid $theme;
    color: $theme;
    &.btn-primary-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-success-outline {
    $theme: #5cb85c;
    border: 2px solid $theme;
    color: $theme;
    background-color: white;
    &.btn-success-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-danger-outline {
    $theme: #d9534f;
    border: 2px solid $theme;
    color: $theme;
    &.btn-danger-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-dark-outline {
    $theme: black;
    border: 2px solid $theme;
    color: $theme;
    &.btn-dark-outline:hover {
        color: white;
        background-color: $theme;
    }
}

.btn-success {
    $theme: #5cb85c;
    color: white;
    border: 2px solid $theme;
    background-color: $theme;
    &.btn-success:hover {
        color: $theme;
        border: 2px solid $theme;
        background-color: transparent;
    }
}

.btn-dark {
    $theme: black;
    color: white;
    background-color: $theme;
    border: 2px solid $theme;
    &.btn-dark:hover {
        color: $theme;
        border: 2px solid $theme;
        background-color: transparent;
    }
}