<div class="container" style="margin-bottom:20px;width:100%">
    <footer class="footer">
        <small>
            <a href='https://www.linkedin.com/in/x65han/' target="_blank"><i class="fa fa-linkedin-square" style="font-size:16px;transform:translateY(2px)" aria-hidden="true"></i></a>
            &emsp;|&emsp;
            <a href='https://www.github.com/x65han/' target="_blank"><i class="fa fa-github" style="color:black;font-size:16px;transform:translateY(2px)" aria-hidden="true"></i></a>
            &emsp;|&emsp;
            Made by
            <%= link_to "Johnson Han", about_path, class: "btn btn-xs bubble btn-warning" %>
            with
            <i class="fa fa-heart" style="color:red" aria-hidden="true"></i>
        </small>
    </footer>
</div>
