<div class="container" style="position:fixed;bottom:20px;width:100%">
    <footer class="footer">
        <small>
            Made by Johnson Han with 
            <i class="fa fa-heart" style="color:red" aria-hidden="true"></i>
        </small>
    </footer>
</div>